@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "SF Pro Text";
    src: url("/public/fonts/SF-Pro-Text-Regular.otf");
}

@font-face {
    font-family: "SF Pro Text";
    src: url("/public/fonts/SF-Pro-Text-Medium.otf");
    font-weight: 500;
}

@font-face {
    font-family: "SF Pro Text";
    src: url("/public/fonts/SF-Pro-Text-Semibold.otf");
    font-weight: 600;
}
